*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(3, 117, 218);
    
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.drag_area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
    border: 2px dashed white;
    width: 650px;
    height: 400px;
    border-radius: 5px;
}

.iconcloud {
    font-size: 100px;
}

.upload_file {
    font-size: 20px;
    padding: 10px 25px;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.bordersolid{
    border: 2px solid white;

}